* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    position: sticky;
    top: 0;
}

nav a {
    color: rgb(20, 70, 161);
    text-decoration: none;
    background-color: rgb(241, 239, 239);
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* home */
.home {
    display: flex;
    justify-content: space-evenly;
}

.home div {
    padding-top: 100px;
}

.home img {
    width: 400px;
}

.home h2 {
    font-size: 40px;
}

.home input {
    margin-top: 20px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}
.text h2{
    font-size: 50px;
}
